<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gx.accountbooks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/luancher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/luancher"
        android:supportsRtl="true"
        android:name="com.gx.accountbooks.MainApplication"
        tools:replace="android:name,android:roundIcon,android:icon"
        android:theme="@style/Theme.Note">

        <activity android:name="com.gx.accountbooks.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gx.accountbooks.test.TestActivity">

        </activity>

        <activity android:name="com.gx.module_login.mvp.ui.login.LoginActivity"/>
    </application>

</manifest>